*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background: #013044;
    overflow: hidden;
}
section{
    height: 100vh;
}
.left{
    width: 60%;
    position: relative;
}
.right{
    width: 40%;
    border-left: 2px solid #000;
}
.right .top{
    position: relative;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #434E60;
}
.right .top button{
    height: 40px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: none;
    outline: none;
}
.right .bottom{
    height: 80%;
    position: relative;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
}
.solde h1{
    font-size: 3em;
    color: #021A88;
}
.box{
    margin-bottom: 10px;
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    border-radius: 10px;
}
.box button{
    width: 40px;
    height: 40px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}
.money{
    margin: 30px 10px;
    display: flex;
    height: 20%;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.money div{
    /* background: #E5665D; */
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.money div h1{
    font-size: 5em;
}
.money div .signe{
    display: flex;
    justify-content: left;
    width: 40%;
}
.plus{
    border: 2px solid #000;
    width: 47%;
    background: #92B245;
}
.moin{
    border: 2px solid #000;
    width: 47%;
    background: #C60139;
}
.new-achat{
    position: absolute;
    background: whitesmoke;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    display: none;
    flex-direction: column;
    align-items: center;
}
.new-achat h1{
    margin-bottom: 20px;
}
.new-achat input{
    margin: 5px;
    padding: 0px 2px;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
}
.new-achat button{
    margin: 10px ;
    width: 70px;
    height: 25px;
    cursor: pointer;
}
@media screen and (max-width: 400px) {
    body{
        flex-direction: column;
        position: relative;
    }
    section{
        height: 50vh;
        width: 100%;
    }
    .left{
        width: 100%;
        position: relative;
        height: 40vh;
    }
    .right{
        position: relative;
        width: 100%;
        height: 60vh;
        border-top: 2px solid #000;
        border-left: 0px;
    }
    .right .top{
        position: relative;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        align-items: center;
    }
    .right .top button{
        position: initial;
    }
    .right .bottom{
        height: 65%;
        position: relative;
        padding: 10px;
        overflow-y: scroll;
    }
    .money{
        margin: 10px 10px;
        display: flex;
        height: 21%;
        justify-content: space-around;
        align-items: center;
    }
    .money div h1{
        font-size: 3.5em;
    }

    .new-achat{
        position: absolute;
        background: whitesmoke;
        border-radius: 20px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
        display: none;
        flex-direction: column;
        align-items: center;
    }
    .new-achat h1{
        margin-bottom: 20px;
        text-align: center;
    }
    .new-achat input{
        margin: 5px;
        padding: 0px 2px;
        height: 30px;
        border: none;
        outline: none;
        border-bottom: 2px solid #000;
    }
    .new-achat button{
        margin: 10px ;
        width: 70px;
        height: 25px;
        cursor: pointer;
    }
    .box{
        font-size: 20px;
        height: 80px;
    }
    .box .titre{
        width: 20%;
        border-right: 2px solid #000;
    }
    .box #acheter{
        width: 30px;
        height: 30px;
    }
    .box #suprimer{
        width: 30px;
        height: 30px;
    }
}